<nav>
    <ul>
        <li><a href="#" data-page="home">Home</a></li>
        <li><a href="#" data-page="create_bot">Create chatbot</a></li>
        <li><a href="#" data-page="saved_memories">Saved memories</a></li>
        <li><a href="#" data-page="chats">Chats</a></li>
        <li><a href="#" data-page="models">Models</a></li>
        <li><a href="#" data-page="settings">Settings</a></li>
    </ul>
</nav>